data/templates/*.mdp
data/mdp/
__pycache__/
*.pyc
.ipynb_checkpoints/
.virtual_documents/
posre.itp
step*.pdb
mdout.mdp
#*.itp.*
#*.xvg.*
data/my_protein_md/xvg/#*
data/my_protein_md/.prod.*
data/my_protein_md/prod_*.png
data/my_protein_md/prod.cpt
data/my_protein_md/prod.log
run_pipeline.sh
run_analysis.py
fix_notebooks.py